/* app css stylesheet */


.border.example {
	border: 1px solid rgba(86,61,124,.2);
}

.orig dt {
	margin-top: 30px;
  border-bottom: 1px solid #ddd;
}
.orig dd {
   margin-left: 20px;
}
.orig dd p {
	margin: 0;
}

.company.name {

}
.orig .project.name.visible-xs {
	display: inline-block;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.orig .tool {
	font-weight: bold;
}
.orig .tool .more.info {
	font-weight: lighter;
}

.orig .project.short.name::before {
  content: "(";
}
.orig .project.short.name::after {
  content: ")";
}
