/* app css stylesheet */
dt {
	margin-top: 30px;
  border-bottom: 1px solid #ddd;
}
dd {
   margin-left: 20px;
}
dd p {
	margin: 0;
}

.company.name {

}
.project.name.visible-xs {
	display: inline-block;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.company.date.range {

}
.project.date.range {

}

.tool {
	font-weight: bold;
}
.tool .more.info {
	font-weight: lighter;
}

.project.short.name::before {
  content: "(";
}
.project.short.name::after {
  content: ")";
}
