<table class="table table-striped table-bordered">
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>

<div  class="text-center">
  <h3>Christopher J Lyth</h3>
  <p class="text-muted">cjlyth@gmail.com / (703) 774-9712</p>
  <address>7510 Parkwood ct #402, Falls Church, VA 22042</address>
</div>

<div class="row">
  <div class="col-md-6 text-left">

  </div>
  <div class="col-md-6 text-right">

EXPERIENCE
  </div>
</div>
<hr/>
<h4 class="text-center">Summary</h4>
<p>
In ut dui congue, pellentesque lorem nec, porttitor ante. Etiam commodo tortor ac urna placerat, tristique tempor purus lobortis. Cras commodo semper blandit. Nunc faucibus nulla libero, tincidunt consectetur turpis congue a. Nunc lacinia dolor non turpis congue, in consectetur nisi congue. Donec in enim sed ipsum euismod malesuada ut sed dolor. Donec ligula erat, condimentum id scelerisque quis, tempus ullamcorper leo. Cras laoreet quam quam, vitae mattis ipsum convallis at. Maecenas hendrerit, nisi et hendrerit pretium, lectus nibh pretium elit, nec gravida ipsum turpis et ipsum. Donec mattis turpis ac tellus eleifend, a semper magna sagittis. Pellentesque tellus erat, ullamcorper vitae tincidunt vitae, aliquet et augue. Aenean fringilla augue a est tincidunt, ac hendrerit sem mattis. Vestibulum tincidunt arcu sed augue consectetur, et dignissim velit pellentesque. Aliquam porttitor dui odio.
</p>
