<div class="row">
  <div class="col-xs-12 text-center"><h2>Christopher J Lyth</h2></div>
  <div class="col-xs-6 text-right text-muted">cjlyth@gmail.com</div>
  <div class="col-xs-6 text-left text-muted">(703) 774-9712</div>
</div>
<hr/>
<h3>Professional Experience</h3>
<div class="row" ng-repeat="experience in resume.experience">
  <div class="col-md-12">
    <h4>{{experience.company}} <small>{{experience.dates}}</small></h4>
  </div>
  <dl class="col-md-10 col-md-offset-1">
    <dt ng-repeat-start="project in experience.projects"><h5>{{project.title}} <small>{{project.dates}}</small><h5></dt>
    <dd ng-repeat-end>
      <ul class="list-inline">
        <li ng-repeat="role in project.roles"><span class="label label-default">{{role}}</span></li>
      </ul>
      <p ng-repeat="description in project.description">{{description}}</p>
    </dd>
  </dl>
</div>
