<div class="row h4" ng-repeat-start="experience in resume.experience | orderBy:dates:true" >
  <span class="col-md-10" ng-bind="experience.company"></span>
  <span class="col-md-2 text-right hidden"
        date-range="experience.dates"
        date-format="YYYY" ></span>
</div>
<div class="row" ng-repeat-end
      ng-repeat="project in experience.projects | orderBy:dates:true">
  <span class="col-xs-12 project" project="project"></span>
</div>
<!--


<span ng-repeat-end></span>



<div class="row h4" >
  <div class="col-xs-12">
    <div class="row" cols ></div>
    <div class-"row"
          >
    </div>
  </div>
</div>


 -->
<!--  project="project"
<div class="col-md-11 col-md-offset-1">
  <div ng-repeat="project in experience.projects | orderBy:dates:true" project="project"></div>
</div> -->
