<h3>Two columns</h3>
<p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>




<div class="row h-card vcard">
  <div class="col-md-6">
    <address>
      <span class="p-street-address">17 Austerstræti</span>
      <span class="p-locality">Reykjavík</span>
      <span class="p-country-name">Iceland</span>

      <strong>Twitter, Inc.</strong><br>
      795 Folsom Ave, Suite 600<br>
      San Francisco, CA 94107<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

  </div>
  <div class="col-md-6">
    <img class="u-photo" src="http://www.gravatar.com/avatar/d9d32ad9ba18621a60a12019c904461f.png?s=200" alt="" />
    <a class="p-name fn u-url" href="http://example.org">Joe Bloggs</a>
    <a class="u-email" href="mailto:joebloggs@example.com">joebloggs@example.com</a>,

  </div>
</div>



<div class="h-resume hresume">
  <a class="p-contact h-card" href="http://example.org">
  <img src="http://www.gravatar.com/avatar/d9d32ad9ba18621a60a12019c904461f.png?s=200" alt="" />
  Joe Bloggs
  </a>
  <p class="p-summary">Joe is a top-notch llama farmer with a degree in <span class="p-skill">Llama husbandry</span> and a thirst to produce the finest wool known to man</p>
</div>


<div id="content" class="resume hresume">
  <div class="profile-header">

    <div id="member-1" class="masthead vcard contact">
      <div class="image zoomable" style="display:block" id="profile-picture">
        <img src="http://m.c.lnkd.licdn.com/mpr/pub/image-xlbzb_yKDiCm_3DXMx8s8qy6J2MTWVbfcc8sEIHKaC1Nt6QuQlbsEakiaN4TWRmjRLu/mark-suss.jpg" class="photo" alt="Mark Suss" height="100" width="100">
      </div>
      <h1>
      <span id="name" class="n fn">
      <span class="full-name"><span class="given-name">Mark</span> <span class="family-name">Suss</span></span>
      </span>
      </h1>
      <span class="phonetic-full-name">
      </span>
      <dl id="headline" class="demographic-info adr">
        <dt>Location</dt>
        <dd>
        <span class="locality">
        Washington D.C. Metro Area
        </span>
        </dd>
        <dt>Industry</dt>
        <dd class="industry">
        Staffing and Recruiting
        </dd>
      </dl>
    </div>
    <div id="nprofile-overview" class="join-linkedin name-button">
      <p id="show-expanded" class="actions ">
      <a class="btn-action" id="regform-show" href="https://www.linkedin.com/reg/join-pprofile?_ed=0_dHB8G4tKSI1eNkyEd3uBk2dzQE2AkVU1r9kHbXjxPZGWJlD5Jt4ZMf87SacJnJbVD2YwiT_ai5NN11sxYmyjqRv6kROP5c2AAx16lz8QMDL&amp;trk=pprof-0-ts-view_full-0" rel="nofollow">
      View Mark's full profile
      </a>
      </p>
    </div>
  </div>
  <h2 class="section-title">Mark Suss's Overview </h2>
  <dl id="overview">
    <dt>
    Connections
    </dt>
    <dd class="overview-connections">
    <p>
    <strong>500+</strong>  connections
    </p>
    </dd>
  </dl>
  <script type="text/javascript">
  showHide.init('overview');
  </script>
  <div class="section" id="profile-projects" style="display:block">
    <div class="header">
      <h2>Mark Suss' Projects
      </h2>
    </div>
    <div class="content">
      <ul class="projects documents">
        <li class="project first">
          <h3>
          <a href="/redir/redirect?url=http%3A%2F%2Fwww%2ERecruitersWeeklyDigest%2Ecom&amp;urlhash=8Gse" target="_blank" title="New window will open" name="projectsite" class="url">
          Recruiters Weekly Digest
          </a>
          </h3>
          <ul class="specifics">
            <li>
              May 2012
              to
              Present
            </li>
          </ul>
          <div class="attribution"> Team Members:
            <a href="/profile/view?id=7131756&amp;authType=name&amp;authToken=Z6Bs&amp;goback=%2Enpp_mark*5suss%2F2%2F47b%2F210&amp;trk=member">Mark Suss</a>
          </div>
          <div>
            <p id="yui-gen1" class=" ''">Recruitment Industry E-Zine (newsletter) geared toward Independent Recruitment companies and/or Recruiters. Dedicated to assisting Companies and Sole Practitioners in increasing their bottom-line profit by adding people oriented small business' as additional profit centers. An example is adding a background screening service.Looking for AFFILIATE OFFICES NATIONWIDE.www.backgroundcheckIntel.com&gt;...<a class="toggle-show-more" title="Show more" href="#">more</a></p>
            <script id="controlinit-http-12248-3261412-1" type="text/javascript+initialized" class="li-control">
            /* extlib: _showmore */
            LI.i18n.register( 'ShowMore-see-more', 'more' );
            LI.i18n.register( 'ShowMore-see-less',   'less' );
            LI.i18n.register( 'ShowMore-see-more-long',   'Show more' );
            LI.i18n.register( 'ShowMore-see-less-long',   'Show less' );
            LI.Controls.addControl('control-http-12248-3261412-1', 'ShowMore', { charCount:400 });
            </script>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="profile-skills" style="display:block">
    <div class="header">
      <h2>Mark Suss' Skills &amp; Expertise
      </h2>
    </div>
    <div class="content">
      <ol class="skills" id="skills-list">
        <li class="competency show-bean  ">
          <span class="jellybean">
          Small Business
          </span>
        </li>
        <li class="competency show-bean  extra-skill">
          <span class="jellybean">
          Sourcing
          </span>
        </li>
      </ol>
      <p id="yui-gen2" class="see-more-less">
      <a href="#">
      <span class="more-text">View All (50) Skills</span>
      <span class="less-text">View Fewer Skills</span>
      </a>
      </p>
      <script id="controlinit-http-12248-3261415-2" type="text/javascript+initialized" class="li-control">
      /* extlib: _toggleclass */
      LI.Controls.addControl('control-http-12248-3261415-2', 'ToggleClass', { classname: 'view-all-skills', on: '#profile-skills' });
      </script>
    </div>
  </div>
  <div class="section view-full-profile">
    <div class="header">
      <h3>View Mark Suss’ full profile to...</h3>
    </div>
    <div class="content">
      <ul>
        <li>See who you and <strong>Mark Suss</strong> know in common</li>
        <li>Get introduced to <strong>Mark Suss</strong></li>
        <li>Contact <strong>Mark Suss</strong> directly</li>
      </ul>
      <p class="btn">
      <a class="action btn-action" href="https://www.linkedin.com/reg/join-pprofile?_ed=0_dHB8G4tKSI1eNkyEd3uBk2dzQE2AkVU1r9kHbXjxPZGWJlD5Jt4ZMf87SacJnJbVD2YwiT_ai5NN11sxYmyjqRv6kROP5c2AAx16lz8QMDL&amp;trk=ppro_viewmore" rel="nofollow">
      View Mark's full profile
      </a>
      </p>
      <p class="note">
      Not the Mark Suss you were looking for?
      <a href="/pub/dir/?first=Mark&amp;last=Suss" tracking="ppro_find_others">View more »</a>
      </p>
    </div>
  </div>
</div>
